body {
    background-color: rgb(255, 0, 0);
}

@media screen and (max-width: 993px) {
    body {
        background-color: rgb(255, 150, 0);
    }
    
}

@media screen and (max-width: 768px) {
    body {
        background-color: rgb(250, 255, 0);
    }
}

@media screen and (max-width: 667px) {
    body {
        background-color: rgb(50, 255, 0);
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: rgb(0, 85, 250);
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: rgb(150, 0, 255);
    }
}